
body {
    font-family: myriadpro-regular, sans-serif;
    margin: 0 auto;
    max-width: 750px;
}

.header {
    opacity: 1;
    background-color: rgba(45, 112, 83, 1);
    border: 1px solid #000000;
}

.shere {
    padding-top: 45px;
    padding-bottom: 47px;
    padding-left: 36px;
    width: 144px;
    height: 144px;
}

.cabinetname {
    margin-left: 57px;
    margin-top: 7px;
    width: 134px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    word-wrap: normal;
    position: absolute;
    display: inline-block;
    font-style: normal;
    line-height: 36px;
}

.menu1 {
    margin-left: 440px;
    margin-top: 93px;
    width: 87px;
    height: 15px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    display: inline-block;
    border-radius: 20px;
}

.menu2 {
    margin-left: 440px;
    margin-top: 65px;
    width: 87px;
    height: 15px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    display: inline-block;
    border-radius: 20px;
}

.menu3 {
    margin-left: 440px;
    margin-top: 37px;
    width: 87px;
    height: 15px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    display: inline-block;
    border-radius: 20px;
}

.container1 {
    height: 470px;
    width: 752px;
    position: relative;
}

.container1 img {
    width: 100%;
    height: auto;
}

.btnaccept {
    position: absolute;
    top: 342px;
    left: 203px;
    width: 344px;
    height: 77px;
    background-color: rgba(203, 146, 35, 1);
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    width: 251px;
    height: 17px;
    font-size: 24px;
    color: #FFFFFF;
    font-family: myriadpro-regular;
}

.container2 {
    height: 1044px;
}

 .photops img {
    border-radius: 50%;
    position: absolute;
}    
    
.photops {
    margin-left: 43px;
    margin-top: 79px; 
}

 .ns {
    padding-left: 366px;
    padding-top: 76px;
    position: relative;
    width: 210px;
    height: 27px;
    font-size: 36px;
    color: #000;
    font-weight: normal;
    white-space: nowrap;
}

.peculiarity {
    padding-left: 366px;
    padding-top: 2px;
    width: 245px;
    height: 50px;
    font-size: 24px;
    white-space: nowrap;
    color: #000;
}

.maintext {
    padding-top: 124px;
    font-size: 24px;
}

.cause {
    font-size: 36px;
}

.cinteiner2 li::before {
    content: "-";
}

.cinteiner2 ul {
    line-height: 1.3;
    height: 190px;
    margin-left: -44px;
    list-style-type: none;
    font-size: 24px;
}

.btnaccept2 {
    position: relative;
    top: 42px;
    left: 203px;
    width: 344px;
    height: 77px;
    background-color: rgba(203, 146, 35, 1);
    border: none;
}

.footer {
    width: 750px;
    height: 156px;
    background-color: rgba(136, 136, 136);
    margin-top: 89px;
}

.shere2 {
    padding-top: 29px;
    padding-left: 44px;
}
   
.phone {
    margin-top: -80px;
    padding-left: 555px;
    width: 153px;
    height: 15px;
    font-size: 18px;
    color: #FFFFFF; 
    position: absolute;
}

.address {
    width: 221px;
    height: 17px;
    font-size: 18px;
    color: #FFFFFF; 
    padding-left: 282px;
    margin-top: -35px;
}

.email {
    width: 144px;
    height: 17px;
    font-size: 18px;
    color: #FFFFFF; 
    padding-left: 549px;
    margin-top: -18px;
}