@font-face {
	font-family: 'MinionPro-Bold';
	src: url('../fonts/MinionPro-Bold.eot');
	src: local('☺'), url('fonts/MinionPro-Bold.woff') format('woff'), url('fonts/MinionPro-Bold.ttf') format('truetype'), url('fonts/MinionPro-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'MinionPro-Regular';
	src: url('../fonts/MinionPro-Regular.eot');
	src: local('☺'), url('fonts/MinionPro-Regular.woff') format('woff'), url('fonts/MinionPro-Regular.ttf') format('truetype'), url('fonts/MinionPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Medium';
	src: url('../fonts/OpenSans-Medium.eot');
	src: local('☺'), url('fonts/OpenSans-Medium.woff') format('woff'), url('fonts/OpenSans-Medium.ttf') format('truetype'), url('fonts/OpenSans-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

.logo {
    width: 307px;
    height: 164px;
    margin-top: 16px;
    display: inline-block;
    position: absolute;
    cursor: none;
}

.main {
    width: 1300px;
    height: 825px;
    margin-left: 460px;
    background-image: url(../img/background\ picture.png);
}

.bg {
    opacity: 1;
    position: relative;
    z-index: 2;
}

.header {
	font-family: 'MinionPro-Bold';
    width: 1300px;
    height: 72px;
    background-color: rgba(140, 10, 13, 1);
    margin-top: -835px;
    position: relative;
    z-index: 1;
}

.logorsh {
    padding-left: 67px;
    padding-top: 15px;
}

.aboutrosh {
    margin-left: 369px;
    margin-top: -22px;
    font-size: 14px;
    color: #FFE394;
}

.news {
    margin-left: 469px;
    margin-top: -16px;
    font-size: 14px;
    color: #FFE394;
}

.shops {
    margin-left: 572px;
    margin-top: -16px;
    font-size: 14px;
    color: #FFE394;
}

.sp {
    margin-left: 687px;
    margin-top: -16px;
    font-size: 14px;
    color: #FFE394;
}

.career {
    margin-left: 893px;
    margin-top: -16px;
    font-size: 14px;
    color: #FFE394;
}

.contacts {
    margin-left: 987px;
    margin-top: -16px;
    font-size: 14px;
    color: #FFE394;
}

.flageng {
    margin-left: 1160px;
    margin-top: -18px;
}

.language {
    margin-left: 1197px;
    margin-top: -21px;
    font-size: 14px;
    color: #FFE394;
}

.plant {
    background-image: url("../img/plant.png");
    width: 1170px;
    height: 335px;
    position: relative;
    z-index: 2;
    margin-top: 25px;
    margin-left: 65px;
}

.arrowleft {
    padding-top: 155px;
    margin-left: 28px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.arrowright {
    margin-left: 1087px;
    margin-top: -58px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.rworld {
    font-family: 'OpenSans-Medium';
    position: absolute;
    margin-top: -192px;
    margin-left: 360px;
    width: 455px;
    height: 54px;
    font-size: 60px;
    color: #35040C;
}

.farrectangle {
    position: absolute;
    margin-top: -95px;
    margin-left: 492px;
    width: 191px;
    height: 44px;
}

.frontrectangle {
    position: absolute;
    margin-top: -100px;
    margin-left: 492px;
    width: 191px;
    height: 44px;
}

.learnmore {
	font-family: 'MinionPro-Bold';
    position: absolute;
    z-index: 2;
    margin-top: -94px;
    margin-left: 508px;
    width: 158px;
    height: 23px;
    font-size: 24px;
    color: #030303;
}

.circle1 {
    margin-top: 105px;
    margin-left: 554px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.circle2 {
    margin-top: 105px;
    margin-left: -2px;
    width: 18px;
    height: 17px;
    cursor: alias;
}

.circle3 {
    margin-top: 105px;
    margin-left: -2px;
    width: 18px;
    height: 17px;
    cursor: grab;
}

.maintext {
	font-family: 'MinionPro-Bold';
}

.oneblock {
    line-height: 22px;
    position: relative;
    z-index: 2;
    margin-left: 65px;
    margin-top: 29px;
    width: 276px;
    height: 64px;
    font-size: 18px;
    color: #060606;
    text-align:justify;
}

.twoblock {
    line-height: 22px;
    position: relative;
    z-index: 2;
    margin-left: 339px;
    margin-top: -82px;
    width: 284px;
    height: 65px;
    font-size: 18px;
    color: #060606;
    padding-left: 29px;

}

.threeblock {
    line-height: 22px;
    position: relative;
    z-index: 2;
    margin-left: 673px;
    margin-top: -83px;
    width: 239px;
    height: 89px;
    font-size: 18px;
    color: #060606;
}

.fourblock {
    line-height: 22px;
    position: relative;
    z-index: 2;
    margin-left: 957px;
    margin-top: -107px;
    width: 255px;
    height: 63px;
    font-size: 18px;
    color: #060606;
}

.fiveblock {
    line-height: 22px;
    position: relative;
    z-index: 2;
    margin-left: 65px;
    padding-top: 18px;
    width: 260px;
    height: 135px;
    font-size: 16px;
    color: #010101;
}

.sixblock {
    line-height: 22px;
    position: relative;
    z-index: 2;
    margin-left: 367px;
    margin-top: -151px;
    width: 255px;
    height: 158px;
    font-size: 16px;
    color: #070707;
}

.sevenblock {
    line-height: 22px;
    position: relative;
    z-index: 2;
    margin-left: 673px;
    margin-top: -174px;
    width: 253px;
    height: 159px;
    font-size: 16px;
    color: #050505;
}

.eightblock {
    line-height: 22px;
    position: relative;
    z-index: 2;
    margin-top: -175px;
    margin-left: 957px;
    width: 277px;
    height: 133px;
    font-size: 16px;
    color: #050505;
}

.footer {
	font-family: 'MinionPro-Bold';
    position: relative;
    z-index: 2;
    margin-top: -72px;
    margin-left: 460px;
    width: 1300px;
    height: 72px;
    background-color: rgba(140, 10, 13, 1);
}

.site {
    padding-left: 67px;
    padding-top: 37px;
    width: 192px;
    height: 14px;
    font-size: 14px;
    color: #FBC86B;
}

.address {
    padding-left: 368px;
    margin-top: -53px;
    width: 148px;
    height: 38px;
    font-size: 14px;
    color: #F8C669;
    position: relative;
    z-index: 2;
    line-height: 22px;
}

.tel {
    padding-left: 674px;
    margin-top: -53px;
    width: 144px;
    height: 37px;
    font-size: 14px;
    color: #F4AB64;
    position: relative;
    z-index: 2;
    line-height: 22px;
    text-align: right;
}

.email {
    padding-left: 957px;
    margin-top: -53px;
    width: 138px;
    height: 36px;
    font-size: 14px;
    color: #F8B168;
    position: relative;
    z-index: 2;
    line-height: 22px;
}

.fb {
    padding-left: 1164px;
    margin-top: -37px;
}

.vk {
    padding-left: 1205px;
    margin-top: -32px;
}